html, body {
    background-color: black;
}

.title {
    position: absolute;
    left: 40%;
    color: white;
    font-family: Trattatello, fantasy;
    font-size: 300%;
}
input[type=range] {
    -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 400px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
    position: absolute;
    left: 33%;
    top: 20%;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}
.gridSize {
    position: absolute;
    left: 42%;
    top: 20%;
    font-family: Trattatello, fantasy;
    border: none none none;
    color: white;
    background: rgb(0, 0, 0);
    font-size: 150%;
}
.canvas {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: white;
    left: 30%;
    top: 32%;
    outline: gray 20px solid;
    outline-color: rgba(224, 28, 93, 0.3);
    display: grid;
    grid-template-columns: repeat(var(--columns-row), 1fr);
    grid-template-rows: repeat(var(--columns-row), 1fr);
}
.grid {
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.tools {
    position: absolute;
    top: 30%;
    left: 3%;
    width: 300px;
    height: 530px;
    border: 3px solid rgb(102, 102, 224);
}
.picker {
    position: relative;
    top: 50px;
    left: 10%;
    border: 1px solid rgb(102, 102, 224);
    width: 30%;
    height: 10%;
    background-color: transparent;
    font-family: Trattatello, fantasy;
    color: white;
    font-size: 150%;
    transition: all 100ms linear;
    transition: 1ms;
}
.clear {
    position: relative;
    top: 35px;
    left: 24%;
    border: 1px solid rgb(102, 102, 224);
    width: 30%;
    height: 11%;
    background-color: transparent;
    font-family: Trattatello, fantasy;
    color: white;
    font-size: 150%;
}
.clear:hover{
    transform: scale(1.3) rotate(-2.5deg);
    cursor: pointer;
}
.clear:active {
    border: 5px solid rgb(102, 102, 224);
}
.picker:hover {
    transform: scale(1.3) rotate(-2.5deg);
    cursor: pointer;
}
.picker:active {
    border: 5px solid rgb(102, 102, 224);
}
.rainbow{
    position: relative;
    top: 18%;
    left: 25%;
    border: 1px solid rgb(102, 102, 224);
    width: 50%;
    height: 15%;
    background-color: transparent;
    font-family: Trattatello, fantasy;
    color: white;
    font-size: 150%;
}
.rainbow:hover{
    transform: scale(1.3) rotate(-2.5deg);
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
    animation:slidebg 3s linear infinite;
    cursor: pointer;
}
.rainbow:active{
    border: 5px solid rgb(102, 102, 224);
}
@keyframes slidebg {
    to {
      background-position:20vw;
    }
}

.eraser{
    position: relative;
    top: 25%;
    left: 25%;
    border: 1px solid rgb(102, 102, 224);
    width: 50%;
    height: 15%;
    background-color: transparent;
    font-family: Trattatello, fantasy;
    color: white;
    font-size: 150%;
}
.eraser:hover{
    transform: scale(1.3) rotate(-2.5deg);
    cursor: pointer;
}
.eraser:active {
    border: 5px solid rgb(102, 102, 224);
}