html, body {
    background-color: black;
}
.title {
    position: absolute;
    left: 40%;
    color: white;
    font-family: Trattatello, fantasy;
    font-size: 300%;
}
input[type=range] {
    -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 400px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
    position: absolute;
    left: 33%;
    top: 20%;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}
.gridSize {
    position: absolute;
    left: 42%;
    top: 20%;
    font-family: Trattatello, fantasy;
    border: none none none;
    color: white;
    background: rgb(0, 0, 0);
    font-size: 150%;
}
.canvas {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: white;
    left: 30%;
    top: 32%;
    outline: gray 20px solid;
    outline-color: rgba(224, 28, 93, 0.3);
}
.grid {
    background-color: green;
    height: 10px;
    width: 10px;
    border-width: 1px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: grid;
    grid: repeat(3, 10vw);
}
.row {
    display: grid;
    grid: repeat(1, 10px) / auto-flow;
}
